.about-container {
  position: relative;

  display: flex;

  gap: 5rem;
  color: rgb(18, 0, 0);
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  overflow: hidden;
  background: url("../../assets/projectbg1.jpg") no-repeat center;
  background-size: cover;
  z-index: -9;
}
.about-left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-right {
  width: 63%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.desc {
  text-align: justify;
}

.about-right h4 {
  font-size: 2rem;
}
.about-right h3 {
  font-size: 3rem;
}

.about-image {
  box-shadow: 0px 2px 7px rgb(8, 8, 8);
  margin-top: 8rem;
  margin-left: 3rem;
  /* margin: 2rem; */
  height: 30rem;
  width: 27rem;
}

@media screen and (max-width: 1100px) {
  .about-image {
    height: 20rem;
    width: 20rem;
  }
  .about-right {
    margin-top: 5rem;
    flex-wrap: wrap;
    width: 35rem;
    gap: 1rem;
  }
}
@media screen and (max-width: 800px) {
  .about-container {
    flex-direction: column;
  }
  .about-image {
    margin-left: 0;
    height: 20rem;
    width: 20rem;
  }
  .about-right h4 {
    display: none;
  }
  .about-right h3 {
    font-size: 2rem;
  }
  .about-right {
    margin-top: 0rem;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 1rem;
    width: 100%;
    gap: 1rem;
  }
  .desc{
  
    width: 90%;
  }
  .aheading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
