.contact-container{
    background: url("../../assets/projectbg1.jpg") no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
  padding-top: 7rem;
    color: rgb(18, 0, 0);
    width: 100%;
    min-height: 100vh;
    height: fit-content;

}

.contact-title{
    position: relative;
    background: linear-gradient(270deg, #df8908 80%, #b415ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-title h1{
    padding: 0px 30px;
    font-size: 50px;
    font-weight: 600;
}
.contact-section{
    display: flex;
    gap: 150px;
margin-left: 3rem;
}
.contact-left{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.contact-link{
    text-decoration: none;
    color:rgb(18, 0, 0) ;
}
.contact-left h1{
  font-size: 50px;
    /* font-weight: 700; */
    background: linear-gradient(270deg, #df8908 80%, #b415ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-left p{
    text-align: justify;
    max-width: 550px;
    color: rgb(18, 0, 0);
    font-size: 20px;
    line-height: 35px;
}

.contact-details{
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: rgb(18, 0, 0);
    font-size: 22px;
}

.contact-detail{
    display: flex;
    align-items: center;
    gap: 20px;
}

.contact-right{
    margin-right: 5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}

.contact-right label{
    color: rgb(18, 0, 0);
    font-size: 22px;
    font-weight: 500;
}

.contact-right input{
    border: none;
    width: 700px;
    height: 50px;
    padding-left: 20px;
    border-radius: 4px;
    background: rgba(194, 193, 193, 0.975);
    color: #a0a0a0;
    font-family: Outfit;
    font-size: 20px;

}

.contact-right textarea{
    min-height: 2rem;
    width: 670px;
    border: none;
    padding: 25px;
    border-radius: 4px;
    background: rgba(194, 193, 193, 0.975);
    color: rgb(0, 0, 0);
    font-family: Outfit;
    font-size: 20px;
    resize: vertical;
}
input::placeholder {
    color: rgb(18, 0, 0); /* Change placeholder color to gray */
  }
  textarea::placeholder {
    color: rgb(18, 0, 0); /* Change placeholder color to gray */
  }
.contact-submit{
    padding: 22px 60px;
    border-radius: 50px;
    font-size: 22px;
    background: var(--gradient);
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: 3rem;
}

.contact-submit:hover{
    transform: scale(1.05);
}

@media screen and (max-width: 900px){
    .contact-left{
        align-items: center;
        justify-content: center;
    }
    .contact-container{
        
        gap: 50px;
        align-items: start;
    }
    .contact-title{
        display: none;
        
    }
    .contact-title h1{
       
        font-size: 40px;
        font-weight: 600;
        
    }

    
    .contact-section{
       
        width: 95%;
        margin: 10px;
        flex-direction: column;
    }

    .contact-left h1{
       
        font-size: 30px;

    }
    .contact-left p{
        width: 95%;
        font-size: 20px;

    }

    .contact-detail{
        gap: 20px;
    }

    .contact-right{
        width: 85%;
        align-items: center;
        justify-content: center;
        margin-left: 1.5rem;
    }
    .contact-right label{
        font-size: 20px;

    }
    .contact-right input{
        width: 100%;
        font-size: 20px;
    }

    .contact-right textarea{
        width: 95%;
        font-size: 20px;
    }

    .contact-submit{
        font-size: 20px;
        
    }
}